{% extends 'base.html' %}

{% block nombre_perfil %}{{ miMuni.name }}{% endblock %}
{% block perfil_imagen_chica %}<img src="{{miMuni.profile_picture.url}}" class="user-image" alt="User Image">{% endblock %}
{% block perfil_imagen_2 %}<img src="{{miMuni.profile_picture.url}}" class="img-circle" alt="User Image">{% endblock %}
{% block nombre_perfil_2 %}<p>{{ miMuni.name }}</p>{% endblock %}
{% block perfil_imagen_3 %}<img src="{{miMuni.profile_picture.url}}" class="img-circle" alt="User Image">{% endblock %}
{% block nombre_perfil_3 %}<p>Municipalidad <br>{{ miMuni.comuna }}</p>{% endblock %}
{% block perfil_imagen_grande %}<img src="{{miMuni.profile_picture.url}}" class="user-image" alt="User Image" width="150">{% endblock %}
{% block botones_laterales %}
    {% load staticfiles %}
    <!-- Optionally, you can add icons to the links -->
    <li class="active">
        <a href="#">
            <i class="fa fa-bullhorn"></i>
            <span>Denuncias</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-bar-chart"></i>
            <span>Estadísticas</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{% url 'municipalidad:statsdenuncias' %}">
                    <i class="fa fa-circle-o"></i>
                    Denuncias
                </a>
            </li>
            <li>
                <a href="{% url 'municipalidad:statsongs' %}">
                    <i class="fa fa-circle-o"></i>
                    ONG
                </a>
            </li>
        </ul>
    </li>
{% endblock %}
{% block contenido %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Denuncias Recibidas
        </h1>
    </section>
    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Tipo Denuncia</th>
                    <th scope="col">Animal</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Estado</th>
                    <td scope="col"></td>
                </tr>
                </thead>
                <tbody>
                {% for d in denuncias %}
                    {% with d.id|stringformat:"s" as denuncia_id %}
                        <tr>
                            <td>{{d.kindOfAbuse}}</td>
                            <td>{{d.kindOfAnimal}}</td>
                            <td>{{d.location}}</td>
                            <td>{{d.actual_state}}</td>
                            <td>
                                <form method="POST" action="{% url 'municipalidad:detalledenuncia' denuncia_id %}">
                                    {% csrf_token %}
                                <i class="fa fa-eye"></i> <input type="submit" class="btn-primary" value="Detalle"/>
                                </form>
                            </td>

                        </tr>
                    {% endwith %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
{% endblock %}
{% block script %}
    <!-- REQUIRED JS SCRIPTS -->
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/adminlte.min.js' %}"></script>
{% endblock %}
