{% extends 'index.html' %}

{% block title %}
    <title>Ingresar | Cholito</title>
{% endblock %}

{% block body %}
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <strong>Cholito</strong>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">
                Ingresa tu usuario y contraseña para ingresar.
            </p>

            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox">
                                &nbsp; Recuérdame
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Ingresar</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <a href="#">Olvidé mi contraseña.</a><br>
            <br>

            <div>
                <a href="{% url 'users:signup' %}" class="btn btn-success btn-block btn-flat">Regístrate</a>
            </div>
        </div>
        <!-- /.login-box-body -->

        <br>

    </div>
    <!-- /.login-box -->
</body>
{% endblock %}

{% block script %}
    {% load staticfiles %}
    <!-- iCheck -->
    <!--script src="plugins/iCheck/icheck.min.js"></script-->
    <script src={% static 'plugins/iCheck/icheck.min.js' %}></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
{% endblock %}
