{% extends 'index.html' %}

{% load staticfiles %}

{% block title %}
    <title>ONG | Cholito</title>
{% endblock %}

{% block body %}

<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>CH</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Cholito</b></span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">Juan Tapia</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
                                    <p>Juan Tapia</p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <button type="button" class="btn btn-default btn-flat" data-toggle="modal" data-target="#myModal">
                                            Perfil
                                        </button>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{% url 'users:login' %}" class="btn btn-default btn-flat">Salir</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <br>
                        <p>Juan Tapia</p>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    <!-- Optionally, you can add icons to the links -->
                    <li class="treeview">
                        <a href="{% url 'landingpage' %}">
                            <i class="fa fa-map-marker"></i>
                            <span>Mapa</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#myModalDenuncia">
                            <i class="fa fa-bullhorn"></i>
                            <span>Denunciar</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-star"></i>
                            <span>ONG</span>
                        </a>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    <div class="row">
                        <div class="c-fundacion-title">
                            <img src="{% static 'dist/img/ong-edra.png' %}" class="user-image" alt="Fundacion EDRA Image" width="100">
                        </div>
                        <div class="col-xs-6">
                            <br>
                            Fundación EDRA
                            &nbsp;<i class="fa fa-star-o c-star--empty"></i>
                            <br>
                            <small>
                                <i class="fa fa-star c-star"></i>
                                182
                            </small>
                        </div>
                    </div>
                </h1>
            </section>
            <!-- Main content -->
            <section class="content container-fluid">
                <div class="row">
                    {% for animal in animals %}
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon" style="background:url('{{animal.picture_location}}');">
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-number">
                                    {{animal.name}}
                                </span>
                                <span class="info-box-text">{{animal.type}} | {{animal.gender}}</span>
                                <div class="c-info-box__btns">
                                    <div class="c-info-box__btns__one">
                                        {% with animal.id|stringformat:"s" as animal_id %}
                                            {% with "#myModal"|add:animal_id as modal_id %}
                                                <a href="#" type="button" class="btn btn-xs btn-info" data-toggle="modal" data-target={{modal_id}}>
                                            {% endwith %}
                                        {% endwith %}
                                            <i class="fa fa-eye"></i>
                                            &nbsp; Ver
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <!-- /.row -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
            Anything you want
            </div>
            <!-- Default to the left -->
            <strong>
                Copyright &copy; 2017 Cholito.
            </strong>
            All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active">
                    <a href="#control-sidebar-home-tab" data-toggle="tab">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <a href="#control-sidebar-settings-tab" data-toggle="tab">
                        <i class="fa fa-gears"></i>
                    </a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane active" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:;">
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->
                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:;">
                            <h4 class="control-sidebar-subheading">
                                Custom Template Design
                                <span class="pull-right-container">
                                <span class="label label-danger pull-right">70%</span>
                                </span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->
            </div>
            <!-- /.tab-pane -->
            <!-- Stats tab content -->
            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
            <!-- /.tab-pane -->
            <!-- Settings tab content -->
            <div class="tab-pane" id="control-sidebar-settings-tab">
                <form method="post">
                    <h3 class="control-sidebar-heading">General Settings</h3>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Report panel usage
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                        <p>
                            Some information about this general settings option
                        </p>
                    </div>
                    <!-- /.form-group -->
                </form>
            </div>
            <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    <!-- Modal 1 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Perfil</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" value="Municipalidad de Santiago">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">Imagen de perfil</label>
                            <br>
                            <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="user-image" alt="User Image" width="150">
                            <br><br>
                            <input type="file" id="exampleInputFile">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
  
    <!-- ./modal 1 -->

    <!-- Modal 2 -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!--h4 class="modal-title" id="myModalLabel">Perfil</h4-->
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <!--label for="exampleInputFile">Imagen de perfil</label>
                                    <br-->
                                    <img src="dist/img/gato-200x200.jpg" class="user-image" alt="User Image" width="80%">
                                    <br><br>
                                    <!--input type="file" id="exampleInputFile"-->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                    <h4>Edad Estimada: 2 años</h4>
                                    <h4>En adopción desde: Febrero 2017</h4>
                            </div>
                            <div class="col-sm-4">
                                <h1>Tomás</h1>
                                <h4>GATO | MACHO</h4>
                            </div>
                        </div>
                        <div class="container">
                            <p>Este es Tomas, el gato con botas.</p>
                            <p>Cuenta la leyenda que este gato adorable fue el amigo del ogro Shrek,</p>
                            <p>que junto a burro tuvieron innmurables aventuras.</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-lg">¡Adóptame!</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ./modal 2 -->

    <div class="modal fade" id="myModalDenuncia" tabindex="-1" role="dialog" aria-labelledby="myModalDenunciaLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalDenunciaLabel" align="center">Subir Denuncia</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline" action="{% url 'landingpage' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="typeOfAbuse">Tipo de maltrato:</label>
                            <select name="typeOfAbuse" class="form-control" id="typeOfAbuse" value="Seleccione tipo de maltrato">
                                <option value="AbandonoEnCalle">Abandono en calle</option>
                                <option value="ExposicionATemperaturasExtremas">Exposición a temperaturas extremas</option>
                                <option value="FaltaDeAgua">Falta de agua</option>
                                <option value="FaltaDeComida">Falta de comida</option>
                                <option value="Violencia">Violencia</option>
                                <option value="VentaAmbulante">Venta ambulante</option>
                            </select>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="animal">Tipo de animal:</label>
                            <select name="animal" class="form-control" id="animal" value="Seleccione tipo del animal">
                                <option value="Perro">Perro</option>
                                <option value="Gato">Gato</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                        <hr>
                        <label style="float:left !important">Sexo:</label>
                        <div class="genderDiv">
                            <input type="radio" name="sexo" id="macho" style="margin:10px" value="M">
                            <label for="macho" style="margin:10px">Macho</label>
                            <input type="radio" name="sexo" id="hembra" style="margin:10px" value="H">
                            <label for="hembra" style="margin:10px">Hembra</label>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="color">Color:</label>
                            <input type="text" name="color" id="color">
                        </div>
                        <hr>
                        <label style="float:left !important">¿Herido?:</label>
                        <div class="genderDiv">
                            <input type="radio" name="herido" id="si" style="margin:10px" value="si">
                            <label for="si" style="margin:10px">Sí</label>
                            <input type="radio" name="herido" id="no" style="margin:10px" value="no">
                            <label for="no" style="margin:10px">No</label>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="comentario">Comentario:</label>
                            <input type="text" name="comentario" id="comentario">
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" style="height:50px; width:200px; float:left" value="Enviar denuncia">
                            <button type="button" class="btn btn-default" data-dismiss="modal" style="height:50px; width:200px">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% for animal in animals %}
        {% with animal.id|stringformat:"s" as animal_id %}
            {% with "myModal"|add:animal_id as modal_id %}
                {% with "myModalLabel"|add:animal_id as modalLabel_id %}
                    <div class="modal fade" id={{modal_id}} tabindex="-1" role="dialog" aria-labelledby={{modalLabel_id}}>
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id={{modalLabel_id}} align="center">Subir Denuncia</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'adoption:adoption' %}" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <!--label for="exampleInputFile">Imagen de perfil</label>
                                                    <br-->
                                                    <img src={{animal.picture_location}} class="user-image" alt="Animal picture" width="80%">
                                                    <br><br>
                                                    <!--input type="file" id="exampleInputFile"-->
                                                </div>
                                            </div>
                                            {% with animal.age|stringformat:"s" as animal_age %}
                                            <div class="col-sm-4">
                                                    <h4>Edad Estimada: {{animal_age}} años</h4>
                                                    <h4>En adopción desde: {{animal.in_adoption_from|date:"M"}} {{animal.in_adoption_from|date:"Y"}}</h4>
                                            </div>
                                            {% endwith %}
                                            <div class="col-sm-4">
                                                <h1>{{animal.name}}</h1>
                                                <h4>{{animal.type}}|{{animal.gender}}</h4>
                                            </div>
                                        </div>
                                        <div class="container">
                                            {{animal.comments}}
                                        </div>
                                        <hr>
                                        <div class="buttonHolder">
                                            {% with "button"|add:animal_id as buttonID %}
                                                <input type="submit" name={{buttonID}} class="btn btn-primary" align="center" style="height:50px; width:200px" value="¡Adóptame!">
                                            {% endwith %}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endwith %}
        {% endwith %}
    {% endfor %}
    </body>
{% endblock %}

{% block script %}

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 3 -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.min.js"></script>

    <!-- Optionally, you can add Slimscroll and FastClick plugins.
    Both of these plugins are recommended to enhance the
    user experience. -->

{% endblock %}
